body {
	font-family: canonical;
	color: rgba(138, 138, 138, 1);
	font-size: 20px;
	display: flex;
	flex-direction: column;
}

body h1 {
	font-size: 22px;
	justify-content: flex-start;
	color: rgba(138, 138, 138, 1);
}

body h2 {
	font-size: 22px;
	justify-content: flex-end;
}

#left {
  	float: left;  	
    /*border: 1px solid red;*/
}

#left h1 {
	margin-top: 18px;
  	margin-left: 23px; 
	color: rgba(255, 1, 1, 1);
}

#right {
 	float: right;
 	margin-top: 20px;
  	margin-right: 20px; 
    /*border: 1px solid blue;*/
}

#right a {
	text-decoration: none;
 	color: rgba(138, 138, 138, 1);
 	/*margin-top: 50px;
  	margin-right: 20px; */
}

.wrapper {
	width: 42%;
    max-width: 1480px;
    margin: auto 100px;  
    margin-top: 22vh; 
    display: flex;
    flex-direction: row;
    /*padding: 0 0 20px;*/
}

.contain-text {
	flex: 1 1 auto;
}

.contain-img {
	margin: -10px 0px 0 30px;
    width: 100px;
    object-fit: contain;
    justify-content: flex-end;
    align-self: flex-end;
}

.cropped {
	margin: -10px 0px 0 -30px;
    width: 500px; 
    object-fit: cover;
    object-position: 100% 10%; /* try 20px 10px */ 
}

.cropped-mobile {
    width: 500px; 
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */ 
}

.g-icon {
	margin: auto 10px;
}

.g-icon img {
	height: 165px;
	margin-left: -90px;
	margin-bottom: -100px;
}

.wrapper h2 {
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 0px;
}

#signature {
	height: 75px;
	margin-left: -20px;
	margin-top: 40px;
}

.bg-cropped {
	
}

.bg-cropped img {
	width: 22%;
    max-width: 1480px;
    margin: auto 150px;  
    margin-top: 22vh; 
}

footer {
	height: 15vh;
	width: inherit;
	background-color: rgba(188, 188, 188, 0.5);
}

footer p {
	font-size: 22px;
}

#footer {
	font-size: 22px;
	float: right;
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 0px;
	float: right;
 	margin-top: 20px;
  	margin-right: 20px; 
}

#dropdown {
	color: red;
}

.show-more .read-more {
	display: none;
}

/*this is to switched between the two side images according to screensize*/
@media screen and (max-width: 767px){   
    #bg-cropped{      
        content:url("https://abc.xyz/img/bg-cropped-mobile.jpg");
    } 
}

@media screen and (min-width: 930px) {      
    #bg-cropped{      
       content:url("https://abc.xyz/img/bg-cropped.jpg");
     } 
} 